.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px)) / 2;
  display: flex;
  flex-wrap: wrap;
}
.newsletter h1 {
  color: #a4a4a4;
  font-size: 3em;
  margin-top: 40px;
}
.newsletter p {
  font-size: 1.25em;
  color: #7c7c7c;
  margin-bottom: 40px;
  font-style: italic;
  max-width: 230px;
}
.news {
  flex: 1 1 200px;
  margin: 0 10px;
}
.form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.form input {
  flex: 3 1 200px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}
.form button {
  flex: 1 1 200px;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  margin: 0;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

.footer {
  background: #2c70ff;
  align-items: center;
}
.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  padding: 80px;
  color: #122ab2;
}
