.superinfo-bg {
  background: #122ab2;
  color: white;
}
.superinfo-bg a {
  color: white;
}

.superinfo {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: center;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  color: white;
  font-size: 1.25em;
  display: block;
  padding: 10px;
}
.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
  color: white;
}

.menu-nav a:hover {
  color: #122ab2;
}
