.produtos {
  max-width: 960px;
  margin: 60px auto;
}
.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}
.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.prod-item {
  flex: 1 1 175px;
  margin: 10px;
}
.prod-item h2 {
  color: #a4a4a4;
  font-size: 3em;
  background: #f7f7f7;
  padding: 60px 20px;
}
.purple {
  border-top: 8px solid #ae81ff;
}
.pink {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
}
