.qualidade {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}
.quali-itens {
  flex: 1 1 300px;
  margin: 20px 10px;
}
.quali-itens h2 {
  color: #a4a4a4;
  font-size: 2.25em;
  margin-top: 20px;
}
.quali-itens h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.quali-itens:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
.quali-itens:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
.quali-itens:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}
.quali-itens p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
  margin-top: 20px;
}
